.not-found-page {
  display: flex;
  padding-top: 80 * $size;
  justify-content: center;
  align-items: center;

  .not-found {
    text-align: center;
  }

  .code {
    line-height: 88 * $size;
    font-size: 88 * $size;
    text-shadow: 0 1 * $size 6 * $size rgba($black-color, 0.18);

    span {
      color: $success-color;
    }

    em {
      margin: 0 8 * $size;
      color: $warning-color;
    }

    i {
      color: $danger-color;
    }
  }

  .desc {
    margin-top: 10 * $size;
    line-height: 20 * $size;
    font-size: 16 * $size;
    color: $dark-color;
  }
}
