.header {
  height: 58 * $size;
  background-color: $white-color;
}

.header-nav {
  display: flex;
  width: 0;
  padding: 0 30 * $size;
  font-size: 16 * $size;
  flex: 1;

  .nav-item {
    position: relative;
    padding: 19 * $size 0;
    margin-right: 20 * $size;
    line-height: 20 * $size;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      height: 3 * $size;
      transition: all 300ms ease;
      transform: scale(0);
    }

    &:hover {
      color: $base-color;
    }
  }

  .nav-active {
    color: $base-color;

    &::after {
      background-color: $base-color;
      transform: scale(1);
    }
  }
}